.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}

.button-increment {
  padding-bottom: 10px;
  height: 64px;
  width: 64px;
  font-size: 56px;
  border: none;
  background-color: #282c34;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
